@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg1: #0a1f30;
  --bg1-grad: #143e60;
  --bg-header: #7d8ca35d;
  --m-cont: #7d8ca35d;
  --m-cont-grad: #143e60;
  --border: #6290c8ff;
  --text: #f5f9e9;
}

html {
  font-size: 62.5%;
  height: 100%;
}

i {
  pointer-events: none;
}

input,
button {
  background-color: none;
  border: none;
}

.bx {
  font-size: clamp(1rem, 4vw, 3rem);
}

body {
  position: relative;
  background-image: linear-gradient(to bottom, var(--bg1), var(--bg1-grad));
  font-family: 'Poppins', sans-serif;
  width: 100dvw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 5dvh;
  background-color: var(--bg-header);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo,
.list-folder {
  display: block;
  margin: 0;
  font-size: clamp(1rem, 4vw, 3rem);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text);
}

.list-folder {
  cursor: pointer;
}

/* MAIN */

.main-container {
  width: 80dvw;
  width: fit-content;
  height: 70dvh;
  background-image: linear-gradient(45deg, var(--m-cont), var(--m-cont-grad));
  border: 2px outset var(--border);
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 0 5px 10px #00000050;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.input-container {
  border: 1px solid var(--text);
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 20%;
  display: grid;
  grid-template-columns: 2fr repeat(2, 0.5fr);
  place-items: center;
}

.list-name,
.task-input {
  width: 90%;
  font-size: clamp(1rem, 3vw, 2rem);
  background-color: transparent;
  color: var(--text);
  padding-inline: 1rem;
  border-bottom: 1px solid var(--text);
}

.list-name::-webkit-input-placeholder,
.task-input::-webkit-input-placeholder {
  color: var(--text);
  opacity: 0.6;
}

.save-btn,
.list-name-remove-btn,
.task-input-add-btn,
.task-input-reset-btn,
.task-remove-btn,
.task-cross-btn,
.cross-icon,
.undo-icon {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text);
  cursor: pointer;
}

.cross-icon,
.undo-icon {
  pointer-events: none;
}

/* TASKS */

.task-container {
  border: 1px solid var(--text);
  border-radius: 0 0 1rem 1rem;
  width: 100%;
  height: 80%;
}

.task-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1%;
  overflow-y: auto;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 1rem;
}

.task {
  width: 100%;
  min-height: 10%;
  display: grid;
  grid-template-columns: 2fr repeat(2, 0.5fr);
  grid-template-rows: auto;
  place-items: center;
}

.task-name-wrapper {
  border-bottom: 1px solid var(--text);
  width: 90%;
}

.task-name,
.task-clone {
  width: 90%;
  font-size: clamp(1rem, 3vw, 2rem);
  text-transform: capitalize;
  background-color: transparent;
  color: var(--text);
  padding-inline: 1rem;
}

.task-name-cross {
  text-decoration: line-through;
  font-style: italic;
  color: red;
}

.undo-icon {
  display: none;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

/* MODALS */

.task-remove-modal,
.list-remove-modal {
  position: absolute;
  width: 50%;
  max-width: 50rem;
  height: 50%;
  max-height: 20rem;
  /* background-image: linear-gradient(45deg, var(--m-cont), var(--m-cont-grad)); */
  background-color: var(--m-cont-grad);
  border: 2px outset var(--border);
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 5px 10px #00000050;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
  transform: translateY(-10%);
  animation: fadeIn 800ms forwards;
}

.task-remove-modal h1,
.list-remove-modal h1 {
  font-size: clamp(1rem, 4vw, 3rem);
  color: var(--text);
}

@keyframes fadeIn {
  from {
    /* scale: 1.1; */
    transform: translateY(-10%);
    backdrop-filter: blur(10px);
    opacity: 0;
  }
  to {
    /* scale: 1; */
    transform: translateY(0);
    backdrop-filter: blur(0);
    opacity: 1;
  }
}

.y-n-btn {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.yes-btn,
.no-btn {
  cursor: pointer;
}

.remove-confirm {
  background: none;
  border: 2px solid var(--text);
  border-radius: 1rem;
  padding: 2% 3%;
  font-size: clamp(1rem, 4vw, 3rem);
  color: var(--text);
  font-weight: 700;
}

/* Task Wrapper List */

.task-wrapper-modal {
  position: absolute;
  width: 60%;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2%;
  overflow-y: auto;
  /* background-image: linear-gradient(45deg, var(--m-cont), var(--m-cont-grad)); */
  background-color: var(--m-cont-grad);
  border: 2px outset var(--border);
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 5px 10px #00000050;
  z-index: 10;
  transform: translateY(-10%);
  animation: fadeIn 800ms forwards;
}

.task-wrapper-modal .task {
  display: flex;
  flex-direction: column;
}

.task-wrapper-modal h3 {
  font-size: clamp(1rem, 3vw, 2rem);
  color: var(--text);
  text-transform: uppercase;
  text-decoration: underline;
}

.task-wrapper-modal .btn-twmodal {
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  > button {
    background: none;
    border: 2px solid var(--text);
    border-radius: 1rem;
    padding: 2% 3%;
    font-size: clamp(0.75rem, 3vw, 2rem);
    color: var(--text);
    font-weight: 700;
    cursor: pointer;
  }
}

/* UTILITY CLASSES - CLASSES UTILITÃRIAS - SHOW/HIDDEN */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

/* MEDIA QUERIES */

@media screen and (width > 600px) {
  .main-container {
    max-width: 50dvw;
  }

  .task-wrapper-modal {
    width: 40%;
  }
}

@media screen and (orientation: landscape) and (height < 500px) {
  html {
    font-size: 50%;
  }

  .logo,
  .list-folder {
    font-size: 2rem;
    height: 20px;
  }

  .list-folder i {
    font-size: 2rem;
  }

  .main-container {
    width: 80%;
    flex-flow: row;
  }

  .input-container {
    border-radius: 1rem;
    height: 90%;
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    place-items: center start;
    gap: 2%;
  }

  .list-name,
  .task-input {
    grid-column: 1 / 3;
    width: 90%;
  }

  .task-container {
    border-radius: 1rem;
    height: 90%;
  }
}
